/* ülemaailmne */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/* menüü */
.menuu {
    height: 50px;
    font-size: 18px;
    padding: 12px 24px;
    
}

.menuu a {
    color: #000;
    text-decoration: none;
    padding: 0 20px;
}

.menuu ul {
    list-style-type: none;
    display: flex;
    height: 100%;
}

.menuu ul li {
    display: inline-block;
}

/* banner */
.header {
    height: 265px;
    background-image: url('pildid/taust.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.banner h1 {
    color: #fff;
    font-size: 64px;
    margin: 0;
    text-align: center;
    font-weight: 200;
}

.banner h2 {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.banner button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    
}

/* sisu */
.sisu {
    height: 400px;
    text-align: left;
    padding: 40px;
    margin-left: 200px;
}

.sisu h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.sisu p {
    margin-bottom: 20px;
    width: 50%;
}

.sisu img {
    float: right;
    margin; 0
    
}
/* Footer */
.jalus {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 64px 0;
    opacity: 0.64;
}

.jalus p {
    margin: 0;
}